* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  line-height: 1;
}

html, body {
  background-color: #FFF;
}

.js-tgSVG {
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 9999;
}

.s-gpu {
  will-change: transform;
}

input,
select {
  vertical-align: middle;
}


.l-main-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 10px solid red; */
}

.l-main {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  /* border: 10px solid white; */
}

.l-main > .item {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
  /* border: 1px solid #000; */
}

.l-main > .item.-inner {
  position: absolute;
}

.l-main > .item .bg, .l-main > .item .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  /* filter: drop-shadow(-2px -2px 0px rgba(0, 0, 0, 1)); */

}


.l-debug {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  display: none;
}
.l-info {
  position: fixed;
  top: 0;
  left: 0;
  margin: 40px;
  color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 9999;
}
.l-info p {
  font-size: 14px;
  color: inherit;
  background-color: #000;
  padding: 5px 20px 5px 20px;
}
.l-info a {
  color: inherit;
  text-decoration: line-through;
}
.l-info a:hover {
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .l-info {
    justify-content: flex-start;
    margin: 20px;
    height: auto;
  }
  .l-info p {
    font-size: 10px;
  }

  .l-main h1 {
    font-size: 24px;
  }

  .l-main h2 {
    font-size: 14px;
  }

  .l-main p {
    font-size: 9px;
  }
}